@define-color bar-bg rgba(13,15,24,0);
@define-color main-bg rgba(13,15,24,0.8);
@define-color main-fg rgba(170,183,240,0.8);
@define-color wb-act-bg rgba(178,180,199,0.4);
@define-color wb-act-fg rgba(204,209,255,1);
@define-color wb-hvr-bg rgba(75,83,125,0.4);
@define-color wb-hvr-fg rgba(170,181,240,0.8);
